.navbar-brand {
  margin-right: 20px; 
}



.navbar-custom {
  background-color: black; 
}

.nav-link {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; 
  text-align: center; 
  color: white; 
  
}

.nav-link:hover {
  background-color: rgb(99, 99, 99); 
  color: rgb(0, 0, 0); 
  border-radius: 5px;
}

.imgLogo {
  width: 100px; 
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.cart-icon:hover {
  transform: scale(1.1); 
}